block {
	width: 100%;
	height: 100%;
}
#calculatorbody {
	width: 200px;
	height: 300px;
	border: 8px ridge #034A85;
	background-color: #034A85;
	background-clip: border-box;
	text-align: center;
	border-radius: 5px;
}
#displaysection {
	width: 100%;
	height: 19%;
	background-color: #99B5CC;
	margin: 2px;
	animation:mymove 5s infinite;
/*Safari and Chrome:*/
-webkit-animation:mymove 5s infinite;
}

@keyframes mymove
{
from {background-color:red;}
to {background-color:blue;}
}

/*Safari and Chrome:*/
@-webkit-keyframes mymove
{
from {background-color:red;}
to {background-color:blue;}
}
.buttonrow {
	width: 100%;
	height: 15.5%;
	background-color: #D0D6DB;
	margin: 2px;
}
#displaysection input {
	width: 78%;
	height: 25px;
	background-color: #CCD4DB;
	margin: 10px;
	text-align: right;
}
.numberbutton {
	width: 20%;
	height: 80%;
	background-color: #000000;
	border-top-color: #B4BCC2;
	border-left-color: #C6CBCF;
	border-right-color: #A3B5C4;
	border-bottom-color: #CFDAE3;
	box-shadow: 5px 3px #CC0000;
	float: left;
	margin: 2%;
	color: white;
	font-size: 1.0em;
	font-family: "Lucida Console", Verdana, Arial;
	border-radius: 5px;
}
.numberbutton:hover {
	background-color: white;
	color: black;
	border-top-color: #1C1C1F;
	border-left-color: #111112;
	border-right-color: #1A1B21;
	border-bottom-color: #14151C;
	box-shadow: 5px 3px #2137DB;
}
.numberbutton:focus {
	outline: none;
}
#close {
	float: right;
	margin-right: 5%;
	background-color: #CC0000;
	width: 20%;
	height: 80%;
	font-size: 0.8em;
	font-family: "Lucida Console", Verdana, Arial;
}